#main-nav {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid rgb(218, 218, 218);
}

#main-nav > nav {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 80px;
}

#main-nav > nav > a {
	color: rgba(0, 0, 0, .45);
	font-weight: 500;
	text-decoration: none;
}

#main-nav > nav > a + a {
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
}

#main-nav > nav > a.active {
	color: rgba(0, 0, 0, .9);
}