.config-wrapper {
  button {
    display: flex;
    flex-direction: column;
    color: #0e86d4;
    border: 1px solid #0e86d4;
    width: 80px;
    text-align: center;
    border-radius: 10%;
    font-size: 20px;
    .label {
      font-size: 10px; 
    }
  }
}

.config-wrapper .row-wrapper {
  display: flex;
  flex-direction: row;
}
