{
  "extends": "react-app",
  "env": {
    "browser": true,
    "es2021": true,
    "webextensions": true
  },
  "globals": {
    "chrome": "readonly",
    "googletag": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "no-extra-semi": "off",
    "no-inner-declarations": "off",
    "eqeqeq": "off",
    "func-style": [
      "error",
      "expression"
    ],
    "prefer-arrow-callback": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "@mui/*/*/*"
        ]
      }
    ]
  }
}