/*
	this css file is injected into the active page,
	note that in order to encapsulate the extension's styles, every class must start with "prpb-".
	this way we can make sure we don't accidentally override the page's styles.

	in order to easily maintain the styles, we leverage the BEM naming convention.
	see: http://getbem.com/naming/ (5 minutes reading)

	also, if you need to get an element in javascript by it's class,
	prefer adding an additional "js-{class_name}" class and query it instead.
*/

.prpb-mask__overlay {
	position: absolute;
	z-index: 1;
	display: block;
	overflow: auto;
	padding: 8px 16px;
	box-sizing: border-box;
	color: rgb(112,112,112);
	font-family: -apple-system, "Segoe UI", sans-serif;
	font-size: 18px;
}

.prpb-mask__overlay.prpb-mask--hidden {
	display: none;
}

.prpb-mask__overlay p {
	margin: 0;
}

/* prebid impression */
.prpb-mask__overlay--bg-blue {
	background-color: rgb(197,233,252);
}

/* ad server impression */
.prpb-mask__overlay--bg-yellow {
	background-color: rgb(249,255,203);
}

.prpb-mask__title {
	font-weight: bold;
	font-size: 20px;
}

.prpb-mask__status {
	display: block;
	padding-bottom: 8px;
	border-bottom: 1px solid rgb(187,193,196); 
}

.prpb-mask__overlay-body {
	margin: auto;
	max-width: 280px;
}

.prpb-mask__general-section {
	display: block;
	margin: 0 0 8px 0px;
	padding: 8px 0;
	border-bottom: 1px solid rgb(187,193,196);
}

.prpb-mask__bidder-list-title {
	font-weight: bolder;
}

.prpb-mask__bidder-list {
	margin: auto;
	list-style: none;
}

.prpb-mask__bidder-list-item {
	margin: 8px 0;
	padding-bottom: 8px;
	border-bottom: 1px dashed rgb(188,188,188);
	text-align: left;
}

.prpb-mask__bidder-list-item:first-of-type {
	margin-top: 0;
}

.prpb-mask__bidder-list-item:last-of-type {
	margin-bottom: 0;
	border-bottom: 0;
}

.prpb-mask__bidder_list-item-title {
	font-weight: bold;
	text-decoration: underline;
}

.prpb-mask__bidder-list-item > p:not(.prpb-mask__bidder_list-item-title) {
	padding-left: 5px;
}

.prpb-mask__bidder-list > p:not(.prpb-mask__bidder_list-item-title) {
	padding-left: 5px;
}