/* Round slider switch */
/* The switch - the box around the slider */
.switch {
  position: absolute; 
  bottom: 1.25em; 
  z-index: 20;
  left: 1.0em; 
  width: 36px;
  height: 20px;
  margin: 1px 0 0px 0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.enable-button-label {
    margin: 3px 0 0px 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}