/* Existing styling */
<style type="text/css">
body {
	width: 800px;
	height: 800px;
	background-color: silver;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid black;
}

td, th {
	width: 110px;
	text-align: center;
	word-wrap: break-word;
	border: 2px solid black;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: 0.5px solid darkgray;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */ '
	transform: rotate(90deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}


/* Tab styling */
.slidingTabs {
    white-space: nowrap;
    overflow-x: hidden;
  }
  .slidingTabs .tab {
    width: 100%;
    display: inline-block;
  }
  
  #tabs { 
      position: relative; 
      padding-bottom: 3em; 
  } 
  #tabs .ui-tabs-nav { 
      position: absolute; 
      left: 4.5em; 
      right: 0.25em; 
      bottom: 0.25em; 
      padding: 0em 0.2em 0.2em; 
  } 
  #tabs .ui-tabs-nav li { 
      border-top: none; 
      border-bottom: 0px solid #ccc; 
      -moz-border-radius: 0px 0px 4px 4px; 
      -webkit-border-radius: 0px 0px 1px 1px; 
      border-radius: 0px 0px 1px 1px; 
  } 
  #tabs .ui-tabs-nav li.ui-tabs-selected, 
  #tabs .ui-tabs-nav li.ui-state-active { 
      top: -1px; 
  }
/* Round slider switch */
/* The switch - the box around the slider */
.switch {
  position: absolute; 
  bottom: 1.25em; 
  z-index: 20;
  left: 1.0em; 
  width: 36px;
  height: 20px;
  margin: 1px 0 0px 0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.enable-button-label {
    margin: 3px 0 0px 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

/* timeline styles */
.timeline-container {
    width : 50%;
    height: 50%;
    margin: 0
  }

.slick-next:before {
  font-weight: bold;  
  font-size: 30px;
  color:red;
}
.slick-prev:before {
  font-weight: bold;  
  font-size: 30px;
  color:red;
}

.slick-prev, .slick-next {
    top: auto;
    bottom: -33%;
    right: 35px;
    z-index: 10;
    border:none;
}


button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
  border:none;
  padding:none;
}

button.slick-prev.slick-arrow:hover, button.slick-next.slick-arrow:hover {
  background-color:transparent;
  color:transparent;
}

.slick-prev {
  left: 5px;
 
}

.slick-next {
  right: 30px;
}