$orange: #f99b0c;
$blue: #6689cc;
$gray: #ecf3f5;
$text: #797f90;

.prpb-mask--container {
  position: relative;
}

.prpb-mask__overlay {
  background: $orange;
  color: $text;
}

.prpb-mask__overlay__header {
  color: $orange;
}
