@import '../../styling.scss';
html {
  background: #eceeef;
}
.popup {
  display: flex;
  flex-direction: column;
  height: 600px; 
  width: 780px;

  header {
    display: flex;
    align-items: center;
    height: 48px;
    background: $primary;

    & > h1 {
      margin: 0;
      color: white;
      padding: 0 22px;
      font-size: 15px;
      font-weight: normal;
    }

    & > button {
      color: white;
      border: none;
      background-color: $primary;
      margin-left: 475px;
    }
  }

  nav {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: flex-start;
   gap: 5px;
  }

  main {
    display: flex;
    flex: 1;
    background-color: #DCDCDC;

    .component-links {

      button {
        background-color: #DCDCDC;
        width: 72px;
        height: 68px;
        border-width: thin;
        border-bottom: groove;
        border-top: none;
        color: #0E86D4;
        text-align: center;
        line-height: 1.6;
      }

      :last-child {
        border-right: none;
      }
    }
  }

  .data-info {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    width: 201px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    border-right-style: solid;

    ul.stats-list {
      margin: 0;
      list-style-type: none;
      padding-inline-start: 0;

      li {
        padding: 8.5px 0;
        list-style-type: none;

        &:not(:last-child) {
          border-bottom: 1px solid #cdcfd1;
        }
      }
    }
  }
}
