@import "../../styling.scss";
html {
  background: #eceeef;
}
.popup {
  header {
    height: 62px;
    background: $primary;
  }

  .drawer .MuiDrawer-paper {
    h1 {
      font-size: 15px;
    }
    display: flex;
    width: 201px;
    background: #eceeef;
    font-weight: 600;
    text-align: center;
  }

  .nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    .label {
      font-size: 15px;
      color: #0e86d4;
    }

    button {
      flex-direction: column;
      color: #0e86d4;
      font-size: 25px;
      width: 72px;
      height: 52px;
      text-align: center;
      line-height: 1.6;
      border: 2px solid #0e86d4;
      border-radius: 10%;
    }
  }
}
