/* .initiator-instructions {
  padding: 8px 0 2px 5px;
}

.initiator-form {
  background-color: white;
  margin-top: 5px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.initiator-form .child {
  width: 350px;
}

.initiator-form .margin-right {
  margin-right: 5px;
}

.initiator-form .submit-button {
  height: 34.25px;
}

.initiator-form .pbjs-orange {
  color: #ff6f00;
  border: 1px solid #ff6f00;
}

.box-wrapper {
  margin: 8px;
  position: relative;
}

.box-wrapper .refresh-icon {
  width: 0.7em;
  height: 0.7em;
  position: relative;
  top: 4px;
}

.initiator__flex-parent {
  display: flex;
  align-items: center;
}

.refresh-icon__list-item .MuiSvgIcon-root {
  width: 15px;
  padding: 0 2px;
  color: rgba(0, 0, 0, 0.54);
}

.initiator__output {
  min-height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initiator__output-left-align {
  justify-content: initial;
  align-items: initial;
}

.initiator__loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initiator__short-instructions {
  text-align: center;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.initiator__refresh-icon.css-i4bv87-MuiSvgIcon-root {
  width: 15px;
  padding: 0 0px;
  color: rgba(0, 0, 0, 0.54);
  height: auto;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.initiator__strong {
  color: #ff6f00;
}

.network-inspector-error-modal {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.network-inspector-error-modal-alert {
  align-items: center;
}

.toaster-modal .css-1t3kceu-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid #ff6f00;
  font-size: 12px;
}

.toaster-content-wrapper {
  display: flex;
  align-items: center;
}

svg.MuiSvgIcon-root.MuiSvgIcon-colorSecondary.MuiSvgIcon-fontSizeMedium.toaster-warning-icon.css-3cp8hf-MuiSvgIcon-root {
  margin-right: 15px;
} */
