.initiator-instructions {
  padding: 8px 0 2px 5px;
}

.initiator-form {
  background-color: white;
  margin-top: 5px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.initiator-form .child {
  width: 350px;
}

.initiator-form .margin-right {
  margin-right: 5px;
}

.initiator-form .submit-button {
  height: 34.25px;
}

.initiator-form .pbjs-orange {
  color: #FF6F00;
  border: 1px solid #FF6F00;
}

.box-wrapper {
  margin: 8px;
}

.box-wrapper .refresh-icon {
  width: 0.7em;
  height: 0.7em;
  position: relative;
  top: 4px;
}

.initiator__flex-parent {
  display: flex;
  align-items: center;
}

.refresh-icon__list-item .MuiSvgIcon-root {
  width: 15px;
  padding: 0 2px;
  color: rgba(0, 0, 0, 0.54);
}

.initiator__output {
  min-height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initiator__output-left-align {
  justify-content: initial;
  align-items: initial;
}

.initiator__loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initiator__short-instructions {
  text-align: center;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.initiator__refresh-icon.css-i4bv87-MuiSvgIcon-root {
  width: 15px;
  padding: 0 0px;
  color: rgba(0, 0, 0, 0.54);
  height: auto;
  position: relative;
  top: 3px;
}

.initiator__strong {
  color: #ff6f00;
}
