@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// this file can be imported everywhere around the extension

$primary: #ff6f00;
$secondary: #004e91;
$gray: #b3c1cc;

$text: #797f90;
