@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// this file can be imported everywhere around the extension

$primary: #F99B0C;
$secondary: #6689CC;
$gray: #ecf3f5;

$text: #797f90;
